.active {
  background-color: #958a0e;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #395abd;
  font-size: 16px;
  padding: 15px 32px;
  box-shadow: 0 5px 5px 0 #399cbd;
}

button:active {
  /** Remove 3D Block Effect on Click **/
  box-shadow: none;
  top: 10px;
  margin-bottom: 0;
}

button:active,
button:focus {
  /** Remove Chrome's Ugly Blue Outline **/
  outline: 0;
}

ul li {
  width: 400px;
  padding-top: 7px;
  height: 30px;
  border-bottom: 2px solid #d3d3d3;
}
